{% extends "_base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>

{% set data = load_data(path="data/data.toml") %}
<ul>
    {% for project in data.projects %}
        <li>
            <strong>{{ project.name }}</strong>: {{ project.description }}<br />
            {% for link in project.links %}
                <a href="{{ link.url }}">{{ link.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>
{% endblock content %}
